# This is a basic workflow to help you get started with Actions

name: Downloading Video-CI

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      URL:
        description: 'URL'
        required: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  download:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    
    env:
      URL: ${{ github.event.inputs.URL }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Prepare the environment
        run: |
          sudo -E apt -y update
          sudo -E apt -y full-upgrade
          sudo -E apt -y install software-properties-common
          sudo -E add-apt-repository ppa:deadsnakes/ppa
          sudo -E apt -y install python3.9
          sudo -E apt -y install python3-pip
          sudo -E pip3 install you-get
          sudo -E pip3 install --upgrade you-get
          sudo -E pip3 install --upgrade certifi

      # Runs a set of commands using the runners shell
      - name: Downloading Video
        run: |
          sudo you-get --debug ${{ env.URL }}
          sudo rm -rf *.cmt.xml
      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: Video Artifact
          path: ./*
          
